.banner {
  @include fullsize;
  @include flex-container;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: 1s;
  &.outside{
      animation-name: slideOut;
      animation-duration: 1s;
      animation-iteration-count: 1;
      transform: translateY(-100%);
      display: none;
  }
  &--fullsize{
    @include absolute-fullsize;
    left: 0;
    top: 0;
    transition: 1s;
    & img{
      object-fit: cover;
    }
    &.inactive{
      opacity: 0;
      z-index: -1;
      & div{
        display: none;
      }
    }
    &::after {
      @include pseudo-element;
      @include fullsize;
      animation-name: getDark;
      animation-duration: 1s;
      animation-iteration-count: 1;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: rgba($color: #000000, $alpha: 0.4);
    }
  }
  &-img {
    @include absolute-fullsize;
    object-fit: cover;
    left: 0;
    top: 0;
    object-position: 50% center;
  }
  &--section {
    transition: 1s;
    @include absolute-fullsize;
    @include bacgkround-image;
    @include flex-container;
    right: 0;
    left: 0;
    &.hidden {
      overflow: hidden;
      z-index: 1;
      width: 0vw;
      * h1,p {
        display: none;
      }
      &.right {
        animation-name: slideRight;
        animation-duration: 1s;
        animation-iteration-count: 1;
        width: 0;
        left: 100%;
      }
      &.left {
        animation-name: slideLeft;
        animation-duration: 1s;
        animation-iteration-count: 1;
        width: 0;
        right: 100%;
      }
    }
    &-container {
      position: absolute;
      z-index: 3;
      top: 50%;
      @include flex-container;
      transform: translateY(-50%);
      height: 70px;
      overflow: hidden;
      color: #fff;
    }
    &-title {
      text-align: center;
      user-select: none;
      padding-right: 25px;
      font-size: 64px;
      cursor: pointer;
    }
    &-id{
      cursor: context-menu;
      user-select: none;
      right: 0;
      top: 2px;
      animation-name: getShown;
      animation-duration: 1.5s;
      animation-iteration-count: 1;
      position: absolute;
      margin-left: 10px;
      font-size: 18px;

    }
  }
  &--index {
    &-wrapper {
      width: 10px;
      height: 18px;
      overflow: hidden;
    }
    &-window {
      transition: 0.3s;
      @include flex-container;
      flex-direction: column;
      justify-content: flex-start;
    }
    &-container {
      position: absolute;
      bottom: 10px;
      @include flex-container;
      color: #fff;
      min-height: 20px;
      z-index: 999;
      font-size: 18px;
      margin-bottom: 30px;
      font-weight: bold;
    }
    &-dash {
      margin: 0 10px;
    }
  }
  &--swap {
    @include flex-container;
    position: absolute;
    top: 50%;
    z-index: 999;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    & svg {
      transition: 1s;
      font-size: 30px;
    }
    &.right {
      left: 85%;
    }
    &.left {
      left: 15%;
    }
  }
}

@keyframes getShown {
    0%{
      opacity: 0;
    }
    67%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}

@keyframes getDark {
  0% {
    background-color: rgba($color: #000000, $alpha: 0);
  }
  100% {
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
}

@keyframes slideLeft {
  0% {
    @include fullsize;
    right: 50%;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes slideRight {
  0% {
    @include fullsize;
    left: 0%;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
.none-visibility {
  opacity: 0;
  pointer-events: none;
}
* img{
    user-select: none !important;
}
@keyframes slideOut {
  0%{
   transform: translateY(0%); 
   display: block;
  }
  100%{
    transform: translateY(-100%); 
    display: block;
  }
}