.carousel{
    transition: 0.1s;
    display: flex;
    position: absolute;
    user-select: none;
    top: 50%;
    left: 50%;
    &.grab{
        & *::before{
            cursor: grab !important;
        }
    }
    &.inactive{
        z-index: 2;
        top: 93%;
        left: 78%;
        transform:translate(-50%,-50%)!important;
        & .carousel--item{
            width: 5vw;
            height: 10vh;
            & img{
                object-position: center !important;
            }
        }
    }
    &--cross{
        @include flex-container;
        position: absolute;
        z-index: 999;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        cursor: pointer;
        & svg {
            transition: 1s;
            font-size: 30px;
        }
    }
    &--item{
        width: 22vw;
        height: 50vh;
        position: relative;
        @include flex-container;
        & img{
            object-fit: cover;
            width: 90%;
            height: 100%;
        }
        &::before{
            cursor: pointer;
            @include pseudo-element;
            width: 90%;
            height: 100%;
            z-index: 1;
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
    }
}