.carousel{
    &--cross{
        @include flex-container;
        position: absolute;
        z-index: 999;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        cursor: pointer;
        & svg {
          transition: 1s;
          font-size: 30px;
        }
    }
    &--container{
        @include absolute-fullsize;
        display: flex;
        left: 0;
        transition: .1s transform;
        top: 0;
        &.inactive{
            transform: translate(0,0) !important;
        }
        &.active{
            width: auto;
            height: 50vh;
            left: 50%;
            top: 50%;
            transform: translate(-10vw,-25vh);
            & .banner--shadow{
                &::after{
                    opacity: 0;
                    z-index: -1;
                }
              }
        }
    }
}