.loader {
  background: $background-color;
  @include fullsize;
  @include flex-container;
  position: relative;
  overflow: hidden;
  &--container {
    min-width: 25%;
    margin: 0 40px;
    animation-name: marginGrow;
    animation-duration: 5s;
    animation-iteration-count: 1;
    &.straight .loader__floating--wrapper {
      animation-name: slideInFromTop;
      &:nth-child(1) {
        animation-duration: 3.5s;
        top: -10%;
      }
      &:nth-child(2) {
        animation-duration: 3s;
        top: 20%;
      }
      &:nth-child(3) {
        animation-duration: 2.5s;
        top: 50%;
      }
      &:nth-child(4) {
        animation-duration: 1.5s;
        top: 80%;
      }
    }
    &.reverse .loader__floating--wrapper {
      animation-name: slideInFromBottom;
      &:nth-child(1) {
        animation-duration: 1.5s;
        top: -20%;
      }
      &:nth-child(2) {
        animation-duration: 2.5s;
        top: 10%;
      }
      &:nth-child(3) {
        animation-duration: 3s;
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(4) {
        animation-duration: 3.5s;
        top: 65%;
      }
    }
  }
  &__floating {
    &--item {
      width: $start-sizeX;
      height: $start-sizeY;
      object-fit: cover;
      
      &.main {
        animation-name: grow;
        animation-duration: 5s;
        animation-iteration-count: 1;
        @include fullsize;
      }
      &.sideMainTop {
        animation-name: sideItemGrowTop;
        animation-duration: 5s;
        animation-iteration-count: 1;
        @include fullsize;
        translate: 0 -150%;
      }
      &.sideUpperTopSlide {
        animation-name: sideUpperTopSlide;
        animation-duration: 5s;
        animation-iteration-count: 1;
      }
      &.sideMainBottom {
        animation-name: sideItemGrowBottom;
        animation-duration: 5s;
        animation-iteration-count: 1;
        @include fullsize;
        translate: 0 150%;
      }
    }
    &--wrapper {
      position: absolute;
      animation-iteration-count: 1;
      &.center {
        z-index: 1;
        left: 50%;
        translate: -50% 0;
      }
    }
  }
}

@keyframes sideUpperTopSlide {
  0% {
    translate: 0 0;
  }
  60% {
    translate: 0 0;
  }
  100% {
    translate: 0 -100%;
  }
}
@keyframes sideItemGrowTop {
  0% {
    margin-bottom: 0vw;
    width: $start-sizeX;
    height: $start-sizeY;
  }
  60% {
    margin-bottom: 5vw;
    width: $start-sizeX;
    height: $start-sizeY;
    translate: 0 0vw;
  }
  100% {
    @include fullsize;
    margin-bottom: 20vw;
    translate: 0 -120vh;
  }
}
@keyframes sideItemGrowBottom {
  0% {
    width: $start-sizeX;
    height: $start-sizeY;
  }
  60% {
    width: $start-sizeX;
    height: $start-sizeY;
    translate: 0 0vw;
  }
  100% {
    width: 100vw;
    @include fullsize;
    translate: 0 22.5vw;
  }
}

@keyframes marginGrow {
  0% {
    margin: 0px;
  }
  60% {
    margin: 2vw;
  }
  100% {
    margin: 20vw;
  }
}
@keyframes grow {
  0% {
    width: $start-sizeX;
    height: $start-sizeY;
  }
  60% {
    width: $start-sizeX;
    height: $start-sizeY;
  }
  100% {
    @include fullsize;
  }
}

@keyframes slideInFromBottom {
  0% {
    top: 500%;
  }
}
@keyframes slideInFromTop {
  0% {
    top: -500%;
  }
}
.preloader {
  font-size: 32px;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  & img{
    position: absolute;
    opacity: 0;
  }
}
