.navbar{
    min-height: 100px;
    height: 100px;
    @include flex-container;   
    overflow:hidden;
    z-index: 10;
    &__item{
        height: 100%;
        @include flex-container;
        z-index: 1;
        width: 90px;
        user-select: none;
        & p{
            opacity: 0.3;
            cursor: pointer;
            transition: .3s;
            color: #fff;
        }
        &.active p{
            cursor: context-menu;
            opacity: 1;
        }
        & p:hover{
            opacity: 1;
        }
    }
}