.section{
    @include absolute-fullsize;
    z-index:1;
    top: 0;
    color: #fff;
    overflow-x: hidden;
    &.slideOut{
        animation-name: slideToBottom;
        animation-duration: 1s;
        animation-iteration-count: 1;
        display: none;
    }
    &.outside{
        height: 0;
        z-index: -1;
    }
    &.slideIn{
        animation-name: slideIn;
        animation-duration: 1s;
        animation-iteration-count: 1;
        overflow-y: scroll;
    }
    &--back{
        z-index: 1;
        cursor: pointer;
        user-select: none;
        @include flex-container;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 40px;
        color: #fff;
        & svg{
            transform: translateY(5px);
            font-size: 32px;
        }
        &:active{
            scale: 0.95;
        }
    }
    &__content{
        &-container{
            width: 40%;
            background-color: rgba($color: $background-color, $alpha: 0.8);
            height: 100%;
            @include flex-container;
            flex-direction: column;
        }
        &--grid{
            display: grid;
            width: 80%;
            margin: 60px auto;
            height: 40vh;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            &-item{
                @include flex-container;
                flex-direction: column;
                & svg{
                    font-size: 46px;
                    padding: 10px;
                }
                & span{
                    width: 70%;
                    line-height: 1.4;
                    text-align: center;
                }
                &:nth-child(1),&:nth-child(2),&:nth-child(3){
                    border-bottom: 2px solid #fff;
                }
                &:nth-child(1),&:nth-child(2),&:nth-child(4),&:nth-child(5){
                    border-right: 2px solid #fff;
                }
            }
        }
        &--title{
            font-family: 'Dai Banna SIL', serif;
            text-align: center;
            z-index: 1;
            font-style: italic;
            font-weight: 300;
            font-size: 64px;
            position: relative;
        }
        &--underscore{
            margin: 10px auto;
            width: 25%;
            height: 2px;
            background-color: #fff;            
        }
        &--description{
            font-family: 'Dai Banna SIL', serif;
            width: 65%;
            font-size: 18px;
            line-height: 1.2;
            text-align: center;
            margin: 0 auto;
        }
    }
    &--wrapper{
        @include fullsize;  
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        user-select: none;
        align-items: flex-end;
        flex-direction: column;
        background-color: $background-color;
    }
    &--scroll{
        position: fixed;
        top: 0;
        transition: 0.2s;
        width: 3px;                                                                     
        left: 2px;
        z-index: 1;
        background-color: #fff;
        opacity: 0.8;
    }
    &--container{
        background: $background-color;
    }
    &::-webkit-scrollbar{
        width: 1px;
    }
}
@keyframes slideIn{
    0%{
        transform: translateY(100%);
        overflow-y: hidden;
    }
    100%{
        transform: translateY(0%);
        overflow-y: hidden;
    }
}
@keyframes slideToBottom{
    0%{
        transform: translateY(0%);
        overflow-y: hidden;
        display: block;
    }
    100%{
        transform: translateY(100%);
        overflow-y: hidden;
        display: block;
    }
}